<h1>Comment#new</h1>
<%= form_for @comment, :url => {:controller=>"comment", :action => "create"} do |f| %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
    <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
    <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>

