<h1>Phone Book</h1>
<table>
	<tr>
		<td>Name</td> <td>Phone number</td> <td>Birthday</td>
	</tr>
<% @phones.each do |p| %>
	<tr>
		<td><%= p.name %></td> <td><%=p.phone%></td> <td><%=p.birthday%></td>
		<td> <%= link_to "edit", :action=>"modify", :id=>p %></td>
		<td><% link_to "del", :action=>"del", :id=>p %></td>
	</tr>
<% end %>
</table>
＜p＞<%= link_to "add new phone number", phone_newphone_path%>＜/p＞

<p>Find me in app/views/phone/index.html.erb</p>
