<h1> Add a new phone number</h1>
<%= form_for @pbook, :url => {:controller=>"phone", :action => "create"} do |f| %>
<div class="field">
  <%= f.label :name %> <br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :phone %> <br />
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :birthday %> <br />
  <%= f.text_field :birthday %>
</div>
  <div class="actions">
    <%= f.submit %>
   </div>
<% end %>
<p><%= link_to 'Back', phone_index_path %></p>
