
<%= form_for(Comment.new, format: :js,remote: true ) do |f| %>
  <%= f.hidden_field :item, :value => item_id %>
    <%= f.hidden_field :user, :value => current_user.id%>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit :id=>"createcomment_"+item_id.to_s,  :class => "createcomment" %>
  </div>
<% end %>