<%= form_for @user, :url => { :controller => 'users', :action => 'update', :id => @user } do |f| %>

	<div class="hidden_field" >
		<%f.hidden_field :_id, :value => current_user._id %>
    </div>
    
	<div class="field">
    	<%= f.label :password, "password" %>
  		<%= f.password_field :password %>
    <div>
    
    <div class="field">
    	<%= f.label :email, "email" %>
    	<%= f.text_field :email %>
    </div>


  	<div class="actions">
    	<%= f.submit "Update"  ,data: { confirm: "Are you sure to save the changes?" } %>
   	</div>
    
<% end %>