<%= form_for @user, :url => { :controller => 'users', :action => 'update', :id => @user } do |f| %>

	<div class="field">
    	<%= f.label :_id, "ID" %>
      <%= f.text_field :_id %>
    </div>
    
	<div class="field">
    	<%= f.label :password, "password" %>
  		<%= f.password_field :password %>
    <div>
    
    <div class="field">
    	<%= f.label :email, "email" %>
    	<%= f.text_field :email %>
    </div>


  	<div class="actions">
    	<%= f.submit "Update" %>
   	</div>
    
<% end %>
  <div class="actions">

<br><br>
<li><%= link_to "Delete Account", user_path(current_user), :method => 'delete' %></li>