<h1>Account List</h1>
<table>
	<tr>
		<td>ID</td> <td>Password</td> <td>Email</td>
	</tr>
<% @users.each do |p| %>
	<tr>
		<td><%= p._id %></td> <td><%=p.password%></td> <td><%=p.email%></td>
		<td> <%= link_to "edit", :action=>"modify", :id=>p %></td>
		<td><%= link_to "remove", :action=>"remove", :id=>p %></td>
	</tr>
<% end %>
</table>
<p><%= link_to "Create new account", users_newuser_path%></p>