<h1>Account List</h1>
<table>
	<tr>
		<td>ID</td> <td>Password</td> <td>Email</td>
	</tr>
<% @users.each do |p| %>
	<tr>
		<td><%= p._id %></td> <td><%=p.password%></td> <td><%=p.email%></td>
		<td> <%= link_to "edit", edit_user_path(p) %></td>
		<td><%= link_to "Delete", user_path(p), :method => 'delete' %></td>
	</tr>
<% end %>
</table>
<p><%= link_to "Create new account", new_user_path%></p>