<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'nav', 'data-turbolinks-track' => true %>
<body>
	<h2><%= @user._id %></h2>
	<div class="itemsforsales">
		<h3>My Items for sales</h3>
		<% if @salesItems.present? %>
			<% @items =  @salesItems %>
			<%= render 'home/table'%>
		<% else %>
			<p>No items for sales yet</p>
		<% end %>
		
	</div>
	<div class="itemsinterestedin">
		<h3>I have interest in these item:</h3>
		<% if @interestedItems.present? %>
			<% @items =  @interestedItems %>
			<%= render 'home/table'%>
		<% else %>
			<p>No items interested in yet</p>
		<% end %>
	</div>
</body>

