<%= form_for(@item, :remote => true, format: :js, authenticity_token: true, :multipart => true, :id=>:item_form) do |f| %>
	
  <div id="error_explanation" style='display:none;'>
    <ul>
      <% if @item.errors.any? %>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
    <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", :class => "button", :onclick => "alert('Input collected!')" %>
  </div>
<% end %>