<tr><td><%= link_to item.name, item_path(item)%></td> <td><%=item.username%></td> <td><%=item.price%></td> <td><%=item.description%></td>
	<% if item.photo.present? %>
		<td><%= cl_image_tag item.photo.url %></td>
	<%end%>
</tr>
