<table id='item_table' >
<caption>Your saved history</caption>
  <tr>
	  <th>Item Name</th> <th>User Name</th> <th>Price </th> <th>Description</th>
  </tr>
	<tbody id='item_tbody'>
	<% @items.each do |p| %>
			<tr>			
<td><%= link_to p.name, item_path(p)%></td> <td><%=p.username%></td> <td><%=p.price%></td> <td><%=p.description%></td>
	<% if p.photo.present? %>
		<td><%= cl_image_tag p.photo.url %></td>
	<%end%>
			</tr>

	<% end %>
	</tbody>
</table>