<table id='item_table' >
<caption>Items on sale</caption>
  <tr>
	  <th>Item Name</th> <th>User Name</th> <th>Price </th> <th>Description</th> <th>Picture</th> <th>User comments</th> <th>edit</th> <th>add new comment</th>
  </tr>
	<tbody id='item_tbody'>
	<% @items.each do |p| %>
	<tr>			
		<td><%= link_to p.name, item_path(p)%></td> <td><%=p.username%> </td> <td><%=p.price%></td> <td><%=p.description%></td>
		<% if p.photo.present? %>
			<td><%= cl_image_tag p.photo.url %></td>
		<%else%>
			<td><%=p.username%> hasn't added any photos</td>
		<%end%>
		
		<td>
			<div id= 'comment_<%= p.id %>' >
			<% @comments.each do|f| %>
				<% if f.item == p.id %>
					
					<% if User.find_by(id: f.user).nil? %>
						<p>Comment made by <em> the user has deleted its account </em> : <%= f.content %> </p>
					<% else %>
						<p>Comment made by <%= User.find_by(id: f.user)._id %> : <%= f.content %> </p>
					<% end %>
				<% end %>
			<% end %>
			</div> <!-- closing div 'comment' -->

		</td>
		
		<td>
			<div id = 'task_form_<%= p.id %>' style = "display : none" >
				<%= render 'comments/form', :item_id => p.id %>
			</div>  <!--closing div 'task_form' -->
		</td>
		<td>
			<div id='comment'>
    			
    			<%= link_to "New Comment", new_comment_path, remote:true,  :id=>"new_comment_#{p.id}", :class => "Comment" %>
			</div>  <!--closing div 'comment'-->
		</td>
	
	</tr>

	<% end %>
	</tbody>
</table>