<h1> Loggin In </h1>
<%= form_for(:authentication, :actions => "login_attempt") do |f| %>
	<div class="field">
	  	<%= f.label "ID" %> <br />
	  	<%= f.text_field :userid %>
	</div>
	<div class="field">
  		<%= f.label :password %> <br />
  		<%= f.text_field :password %>
	</div>
  <div class="actions">
    <%= f.submit %>
   </div>
<% end %>