<h1>Welcome to XXX</h1>
  <% if current_user %>
    <h2>Hi <%= current_user._id %>, Have a Nice Day!!</h2>
    <h2>Would you like to</h2>
    <h2><%= link_to "Edit", :controller=>"users", :action=>"modify", :id=>current_user %>  your account setting?</h2>
    <h2><%= link_to "Delete", :controller=>"users", :action=>"remove", :id=>current_user %>  your account?</h2>
<<<<<<< HEAD
    
=======
    <h2><p><%= link_to "Upload new item", items_newitem_path %></p></h2>
    <h2><p><%= link_to "View all items", items_index_path %></p></h2>
>>>>>>> origin/master
	<p><%= link_to "Sign Out", authentication_signout_path %></p>
			
	<%= render 'table' %>
	
	<%= render 'form' %>

	
  <% else %>
    <h2>Do you want to<h2>
	<p><%= link_to "Login", home_login_path %></p>
	<h2>or<h2>
	<p><%= link_to "Sign up", users_newuser_path %></p>
  <% end %>

