<%= javascript_include_tag 'nav', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'comment', 'data-turbolinks-track' => true %>
<body>

  <% if current_user %>
	<%= form_tag items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by item name" %>
    <%= submit_tag "Search by user name" %>
  </p>
  <% end %>
	
	<%= render 'table' %>
	
	<%= render 'form' %>
	
	<div id='testing'></div>
	
  <% else %>
    <h2>Do you want to<h2>
	<p><%= link_to "Login", home_login_path %></p>
	<h2>or<h2>
	<p><%= link_to "Sign up", new_user_path %></p>
  <% end %>

  <script>
  <% if params[:notice].present? %>
    alert(<%= params[:notice] %>);
  <% end %>
</script>
</body>

