<body>
<%= javascript_include_tag 'comment' %>

  <% if current_user %>

	<div id="task_form"></div>
	
	<%= render 'table' %>
	
	<%= render 'form' %>
	
	<div id='testing'></div>
	
  <% else %>
    <h2>Do you want to<h2>
	<p><%= link_to "Login", home_login_path %></p>
	<h2>or<h2>
	<p><%= link_to "Sign up", users_newuser_path %></p>
  <% end %>

  <script>
  <% if params[:notice].present? %>
    alert(<%= params[:notice] %>);
  <% end %>
</script>
</body>

