<h1>Item List</h1>


<%= form_tag items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by item name" %>
    <%= submit_tag "Search by user name" %>
  </p>
  <% end %>

<table>
	<tr>
		<td>Name</td> <td>Username</td> <td>Description</td> <td>Price</td>
	</tr>
		<% @items.each do |p| %>
	<tr>
		<td><%= link_to p.name, item_path(p)%>
		</td> <td><%=p.username%></td>
		<td><%=p.price%></td>
		<td><%=p.description%></td>
		<% if current_user._id == p.username %>
			<td><%= link_to "delete", item_path(p), method: :delete%></td>
		<% else %>
			<p></p>
		<% end %>	
	</tr>
<% end %>
</table>

