<h1>Item List</h1>
<table>
	<tr>
		<td>Name</td> <td>Username</td> <td>Description</td> <td>Price</td>
	</tr>
		<% @items.each do |p| %>
	<tr>
		<td><%= link_to p.name, item_path(p)%>
		</td> <td><%=p.username%></td>
		<td><%=p.price%></td>
		<td><%=p.description%></td>
		<td><%= link_to "delete", item_path(p), method: :delete%></td>


		
	</tr>
<% end %>
</table>
