<%= form_for @item, :url => { :controller => 'items', :action => 'update', :id => @item } do |f| %>
	<div class="field">
	  	<%= f.label "Item name" %> <br />
	  	<%= f.text_field :name %>
	</div>
	<div class="field">
  		<%= f.label :description %> <br />
  		<%= f.text_field :description %>
	</div>	
	<div class="field">
  		<%= f.label :price %> <br />
  		<%= f.text_field :price %>
	</div>
  	<div class="actions">
    	<%= f.submit "Update" %>
   	</div>
    
<% end %>