<h1>Item</h1>

<%= form_tag items_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by item name" %>
    <%= submit_tag "Search by user name" %>
  </p>
  <% end %>

<table>
	<tr>
		<td>Name</td> <td>Username</td> <td>Description</td> <td>Price</td>
	</tr>

	<tr>
		<td><%= @item.name %></td>
		<td><%=@item.username%></td>
		<td><%=@item.price%></td>
		<td><%=@item.description%></td>
		<% if current_user._id == @item.username %>
			<td><%= link_to "delete",item_path(@item), method: :delete%></td>
		<% else %>
			<p></p>
		<% end %>	
	</tr>

</table>

