<!DOCTYPE html>
<html>
<%= javascript_include_tag :defaults %>
<head>
  <title>URChange</title>
  <%= stylesheet_link_tag 'navigation', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>URChange</h1>
<% if current_user %>
<!-- after login -->
   <div class="container">
    <nav>
		<ul>
	      	<li><%= link_to "Delete Account", user_path(current_user), :method => 'delete' %></li>
      		<li><%= link_to "Edit Account", edit_user_path(current_user) %> </li>
      		<li><%= link_to "Search",items_path %></li>
      		<li><%= link_to "Logout",authentication_signout_path%></li>
      	</ul>
    </nav>
  </div>
<% else %>
<!-- Without login -->
<% end %>

<div>

  <%= yield %>

</div>

</body>
</html>
