<!DOCTYPE html>
<html>
<%= javascript_include_tag :defaults %>
<head>
  <title>Hello!</title>
  <%= stylesheet_link_tag 'navigation', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


   <div class="container">
     <% if current_user %>
         <li><%= link_to "Delete Account", :controller=>"users", :action=>"remove", :id=>current_user %></li>
         <li><%= link_to "Edit Account", :controller=>"users", :action=>"modify", :id=>current_user %> </li>
         <li><%= link_to "Search",items_path %></li>
         <li><%= link_to "Logout",authentication_signout_path%></li>


     <% end %>
  </div>

<div>

  <%= yield %>

</div>

</body>
</html>
